<div class="row">
  <div class="col-md-3 col-sm-6">


    <div class="card mb-2 text-canter bg-dark">

      <!-- TODO: Crear imagen -->

      <div class="card-body">
        <p class="card-text text-white">
          Uno
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">


    <div class="card mb-2 text-canter bg-dark">

      <!-- TODO: Crear imagen -->

      <div class="card-body">
        <p class="card-text text-white">
          Dos
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">


    <div class="card mb-2 text-canter bg-dark">

      <!-- TODO: Crear imagen -->

      <div class="card-body">
        <p class="card-text text-white">
          Tres
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">


    <div class="card mb-2 text-canter bg-dark">

      <!-- TODO: Crear imagen -->

      <div class="card-body">
        <p class="card-text text-white">
          Cuatro
        </p>
      </div>
    </div>
  </div>

</div>
